# Dependências do Node.js
node_modules/

# Pasta de build gerada pelo Webpack
dist/

# Arquivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações locais (caso existam)
.env
.env.local
.env.development
.env.production

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do editor de código
.vscode/
.idea/
*.swp

# Cache do Webpack
.cache/
